.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: white;
  color: rgb(45, 158, 250);
}

Link {
  color: rgb(1, 112, 202);
  list-style: none;
  text-decoration-line: none;
}

.home-nav-links {
  width: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  text-decoration: none;
  color: rgb(45, 158, 250);
}

.form-container {
  width: 75%;
  align-items: center;
}

.abouthr {
  width: 50%;
}

.titlehr {
  width: 30%;
}
